@page
@model WeMeakKit_FE_WebAdmin.Pages.Staff.StaffPageModel
@{
}

<h1>Staff page</h1>

<div class="nav-scrollable" onclick="toggleNavbar()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Profile
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/Staff/Recipe/Index">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Recipe
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/Staff/Ingredient/Index">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Ingredient
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/Staff/Weekplan/Index">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weekplan
            </a>
        </div>
    </nav>
</div>
